$font: 'christos', Serif;

/*mixins*/
	/*set element with absolute position*/
	@mixin setAbsolute($top, $bottom, $left, $right, $width, $height){
		position: absolute;
		@if $top != "" { top: $top; }
		@if $bottom != "" { bottom: $bottom; }
		@if $left != "" { left: $left; }
		@if $right != "" { right: $right; }
		@if $width != "" { width: $width; }
		@if $height != "" { height: $height; line-height: $height; }
	}
	/*set an element*/
	@mixin setDims($float, $width, $height, $margin, $padding){
		@if $float != "" { float: $float; }
		@if $width != "" { width: $width; }
		@if $height != "" { height: $height; line-height: $height; }
		@if $margin != "" { margin: $margin; }
		@if $padding != "" { padding: $padding; }
	}
	/*set colors of element*/
	@mixin setColors($color, $back){
		@if $back != "" { background: $back; }
		@if $color != "" { color: $color; }
	}
	/*set border of element*/
	@mixin setBorders($radius, $border){
		@if $radius != "" { border-radius: $radius; }
		@if $border != "" { border: $border; }
		box-sizing: border-box;
	}
	/*set element hover*/
	@mixin setHover($trans, $color, $back){
		&:hover {
			@if $trans != ""{
				transition : $trans;
			}@else{
				transition: 0.5s;
			}
			@if $back != "" { background: $back; }
			@if $color != "" { color: $color; }
		}
	}
	/*set height*/
	@mixin setHeight($h){
		@if $h != "" {
			height: $h;
			line-height: $h;
		}
	}
	/*grid block*/
	@mixin grid($t, $b, $l, $r, $w, $h, $bs){
		@include setAbsolute($t, $b, $l, $r, ($w*$bs)-10, ($h*$bs)-10);
		margin: 5px;
	}

/*general*/
	@font-face {
		font-family: 'christos';
		font-style: normal;
		font-weight: normal;
		src: url('./fonts/ACGeosansLight.otf') format('opentype');
	}

	html, body {
		font-family: $font;
		font-size: 16px;
		margin: 0;
		overflow-y: auto;
		overflow-x: hidden;
		text-align: center;
		@include setColors(#242428, #f5f5f5);
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	::-webkit-scrollbar {
	 	width: 10px;
	}
	/* Track */
	::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		background-color: #f0f0f0;
		border-radius: 10px;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	 	-webkit-border-radius: 2px;
	 	border-radius: 2px;
		background: #666; 
	}
	input, select{
		@include setDims("", auto, 32px, 5px 0, 0 5px);
		@include setBorders(4px, 1px solid #ddd);
		box-sizing: border-box;
		@include setColors(#000, #f2f2f5);
		text-align: center;
	}
	select{
		margin: 0 2px;
	}
	button{
		font-family: $font;
		@include setColors(#fff, #27ae60);
		padding: 5px 10px;
		cursor: pointer;
		height: 30px;
		white-space: normal;
		width: auto;
		box-sizing: border-box;
		outline: none;
		border: 0;
		border-radius: 4px;
		&:hover{ opacity: 0.75; }
	}

/*animations*/
	@keyframes popup {
		0% { transform: scale(0.25); opacity: 0; }
		50% { transform: scale(0.50); opacity: 1; }
		75% { transform: scale(0.75); }
		100% { transform: scale(1); opacity: 1;}
	}
	$slideNum : 50px;
	@keyframes slideLeft{
		0% { transform: translate(-$slideNum); }
		100% { transform: translate(0); }
	}
	@keyframes slideLeft{
		0% { transform: translate(-$slideNum); }
		100% { transform: translate(0); }
	}
	@keyframes slideRight{
		0% { transform: translate($slideNum); }
		100% { transform: translate(0); }
	}

/*reused classes*/
	.headerClass{
		@include setDims("", 100%, 50px, 0 0 10px 0, "");
		@include setColors(#fff, #2a3132);
		box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
		.item{
			float: left;
			width: 33%;
		}
	}
	.boxHead{
		@include setHeight(40px);
		border-bottom: 1px solid #ccc;
		box-sizing: border-box;
		font-size: 18px;
		color: #763626;
	}
	.editBox{
		@include setBorders("", 1px solid #ccc);
		background: #fff;
		width: 98%;
		margin: 10px 1%;
		box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.25);
	}
	.addItem{
		@include setAbsolute(auto, 10px, ayto, 10px, 45px, 45px);
		position: fixed;
		border-radius: 45px;
		@include setColors(#fff, #336b87);
		box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.25);
		cursor: pointer;
		&:hover{
			box-shadow: none;
			opacity: 0.8;
		}
	}

/*MAIN*/
	.main{
		.header{
			@extend .headerClass;
		}
		.none{ margin: 20px 0; }
		.eventItem{
			opacity: 0;
			transform: scale(0);
			@include setDims(left, 31%, 110px, 10px 1%, 0 10px);
			@include setColors(#242428, #fff);
			box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.25);
			border: 1px solid #ccc;
			cursor: pointer;
			&:hover{
				border-color: #aaa;
			}
			.row{ @include setHeight(40px); }
			.name{
				color: #005792;
			}
			.type{
				@include setHeight(30px);
				color: #777;
			}
			.part, .total{
				float: left;
				width: 50%;
			}
			.delete{
				@include setAbsolute(5px, auto, auto, 5px, 20px, 20px);
				color: #c0392b;
				cursor: pointer;
				&:hover{
					transition: 0.8s;
					opacity: 0.8;
				}
			}
			@media (max-width: 900px){
				width: 48%;
			}
			@media (max-width: 600px){
				width: 98%;
			}
		}
	}

/*EVENT NEW*/
	.event{
		.header{
			@extend .headerClass;
		}
		.left{
			float: left;
			width: 40%;
			overflow: hidden;
			.general{
				@include setHeight(250px);
				padding-bottom: 10px;
				@extend .editBox;
				.head{
					@extend .boxHead;
				}
				.row{
					@include setHeight(50px);
					.label{
						float: left;
						width: 40%;
					}
					.val{
						float: left;
						width: 60%;
					}
					.error{
						background: #fcc;
					}
				}
			}
		}
		.right{
			float: left;
			width: 60%;
			overflow: hidden;
			.list{
				@include setBorders("", 1px solid #ccc);
				@extend .editBox;
				.head{
					@extend .boxHead;
				}
				.rowHead{
					font-weight: bold;
					border-bottom: 1px solid #ddd;
					box-sizing: border-box;
				}
				.row{
					@include setHeight(50px);
					.index{ float: left; width: 5%; }
					.name{ float: left; width: 45%; }
					.guests{ float: left; width: 15%; input{width: 80px;} }
					.total{ float: left; width: 25%; }
					.delete{
						float: left; 
						width: 10%; 
						color: #c0392b; 
						cursor: pointer; 
						&:hover{
							opacity: 0.8;
							transition: 0.8s;
						}
					}
				}
				.error{
					background: #fcc;
				}
			}
		}
		@media (max-width: 800px){
			.left, .right{ width: 100%; }
		}
	}